.basic__input{
  margin-bottom: 24px;
  padding: 0px;
}
.basic__input--field{
  max-width: 384px;
  margin-bottom: 24px;
  margin-right: 32px;
  margin-left: 32px;
  border-radius: 20px;
  border-width: 0px;
  background-color: #0b0d16;
  font-family: Helvetica;
  font-size: 24px;
  color: #fbfafb;
}
.basic__button--numbers{
  box-shadow: none;
  border-width: 0px;
  width: 78px;
  height: 78px;
  margin: 8px;
  border-radius: 48px;
  background-color: #141626;
  font-family: Helvetica;
  font-size: 32px;
  text-align: center;
  justify-items: center;
  color: rgba(255, 255, 255, 0.8);
}
.basic__button--symbols{
  box-shadow: none;
  border-width: 0px;
  width: 78px;
  height: 78px;
  margin: 8px;
  border-radius: 48px;
  background-color: rgba(188, 142, 4, 0.1);
  font-family: Helvetica;
  font-size: 32px;
  text-align: center;
  justify-items: center;
  color: rgba(255, 255, 255, 0.8);
}
.basic__button--symbols:focus{
  background-color: rgba(188, 142, 4, 0.4);
  color: rgba(255, 255, 255, 0.8);
}
.basic__button--symbols:hover{
  background-color: rgba(188, 142, 4, 0.3);
}
.btn.basic__button--ac{
  background-color: rgba(188, 142, 4, 0.4);
  color: rgba(255, 255, 255, 0.8);
}
.basic__button--numbers:focus{
  background-color: #26293c;
  color: #1ca65a;
}
.basic__button--numbers:hover{
  background-color: rgba(38, 41, 59, 0.5);
}
.basic__row--no-padding{
  padding: 0px;
}
.basic__buttons{
  margin-right: 16px;
  margin-left: 8px;
}

