<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="app__background col-12">
  <div class="container col-12">
    <div class="row col-12">
      <div class="col-12 app__header">
        <h1>Calculator</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 app__buttons" role="navigation">
        <ul class="nav nav-pills justify-content-center">
          <li class="nav-item">
            <a class="nav-link app__button active" data-toggle="pill" [routerLink]="['/','basic']">Basic</a>
          </li>
          <li class="nav-item">
            <a class="nav-link app__button" data-toggle="pill" [routerLink]="['/','advanced']">Advanced</a>
          </li>
          <li class="nav-item">
            <a class="nav-link app__button" data-toggle="pill" [routerLink]="['/','converter']">Converter</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row custom-border justify-content-center">
      <div class="col-lg-4 col-sm-8 custom-border"><router-outlet></router-outlet></div>
      <div class="col-lg-4 col-sm-8 custom-border"><app-log></app-log></div>
    </div>
    <div class="fixed-bottom app__footer">Project by
      <a class="app__footer--link" href="https://github.com/Kamil-Kuk">Kamil Kukowski</a>
    </div>
  </div>
</body>
</html>


<!--<table class="table table-borderless">-->
<!--  <thead class="thead-padding-class">-->
<!--  <td>-->
<!--    &lt;!&ndash;    NAVIGATION  &ndash;&gt;-->
<!--    <ul class="nav nav-tabs">-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" [routerLink]="['/','basic']" routerLinkActive="active">Basic</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" [routerLink]="['/','advanced']" routerLinkActive="active">Advanced</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" [routerLink]="['/','converter']" routerLinkActive="active">Converter</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </td>-->
<!--  <td class="td-class">-->
<!--    Log-->
<!--  </td>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr>-->

<!--    &lt;!&ndash;      INPUT FIELD  &ndash;&gt;-->
<!--    &lt;!&ndash;  ROUTER    &ndash;&gt;-->
<!--    <td>-->
<!--      <router-outlet></router-outlet>-->
<!--    </td>-->

<!--      &lt;!&ndash;    LOG FILED  &ndash;&gt;-->
<!--    <td>-->
<!--      <app-log></app-log>-->
<!--    </td>-->
<!--  </tr>-->

<!--  </tbody>-->
<!--</table>-->





